.soft-wrapper {
  width: 100%;
  padding-left: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.soft-element {
  flex-grow: 1;
  margin: 0 25px;
  /*background-color: rgb(234,226,225);*/
  padding: 25px;
  margin-bottom: 25px;
}

.soft-welcome {
  font-weight: bold;
}

.soft-welcome i {
  font-size: 24px;
}

.sweet-search button {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(1.5em + .75rem + 2px);
}

.soft-crap {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  /*box-shadow: 0px 0px 15px 0px rgba(184,184,184,0.4);*/
  border: 1px solid #c3c1c1;
}

.ads-billboard {
  max-width: 970px;
  /*min-height: 250px;*/
  background-color: tomato;
  /*width: 970px;*/
}

.ads-square {
  width: 250px;
  height: 250px;
  background-color: tomato;
}

.soft-widget .soft-crap {
  margin-bottom: 25px;
}

#fb-color {
  background-color: blue;
  height: 400px;
}

.sweet-post {
  margin-right: 15px;
}

.sweet-post .content {
  background-color: white;
  flex-grow: 1;
}

.soft-recom {
  padding: 25px 0;
  background-color: rgb(71,100,255);
  margin-bottom: 15px;
}

.disqus {
  height: 350px;
  background-color: rgb(59,220,255);
}

.soft-cover-post {
  width: 180px;
  margin-right: 15px;
}

.soft-content-post {
  flex-grow: 1;
  max-width: 63%;
}

.homepage .soft-post {
  margin-bottom: 60px !important;
}

.soft-cover-post .img {
  width: 100%;
  height: 200px;
  position: relative;
}

.soft-cover-post .img .wrap-img {
  position: absolute;
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.wrap-img img {
  width: 100%;
}

#soft-footer {
  margin-bottom: 0;
}

.post .soft-category {
  margin-bottom: 35px;
}

.post p {
  font-size: 16px;
}

.soft-title {
  margin: 25px 0;
}

.soft-title::before {
  content: '\f292';
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  color: rgb(128,128,128);
}

.soft-comp {
  /*display: inline;*/
}

.soft-comp button {
  margin-right: 10px;
  padding: 5px !important;
}

.soft-comp select {
  padding: 5px;
}

.soft-btn-def i, .soft-comp button i {
  display: block;
}

.content .soft-post {
  margin-bottom: 15px;
}

.table button {
  padding: 5px 10px;
}

.post .table tbody tr td {
  border: none;
}

.post {
  max-width: 95%;
}

.post .table tbody tr td:nth-child(2) {
  width: 90%;
}

.post .table {
  margin-bottom: 45px;
}

.ads-billboard img {
  width: 100%;
  height: auto;
}

.menu-mobile-soft {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.msg {
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 15px 0;
  border-radius: 5px;
}

.msg-success {
  background: rgb(208,232,249);
}

.msg i {
  margin: 0 15px 0 5px;
}

.msg-success:hover {
  color: rgb(58,60,61);
}

.dialog {
  padding: 0 15px;
  text-shadow: 0 0 0.5px;
  padding-left: 25px;
}

.window-do {
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  /*background: tomato;*/
  left: 0;
}

.relative {
  position: relative;
}

.full-s {
  width: 100%;
  height: 100%;
}

.window-in {
  height: 100%;
  position: absolute;
  width: 50px;
  overflow: hidden;
  right: 0;
}

.win-in {
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 15px;
  box-shadow: -5px 0px 10px 0px rgba(63,63,63,0.1);
}

.eye-soft {
  background: #F5F3E7 !important;
}

.zi {
  z-index: 1;
}

.pencarian {
  justify-content: space-around;
  align-items: center;
}

#scr a i {
  margin: 0 !important;
  background: #9AD9DB;
  color: white;
}

.pencarian a {
  margin-left: 5px;
}

#scr a:focus i {
  box-shadow: 0px 0px 15px 0px rgba(184,184,184,0.4);
}

#scr a:focus {
  outline: none;
}

.crap-scroll {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  flex-grow: 1;
  transform: translate(-120%, 0);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translate(0,0);
}

.f-swet {
  padding: 10px;
  /*background: tomato;*/
  margin-bottom: 25px;
}

.sweet-portal {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1,1fr 2fr);
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(184,184,184,0.4);
  border: 1px solid #c3c1c1;
}

.sweet-portal img {
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .sweet-portal img {
    width: 100%;
    height: auto;
  }
}

.grid-btn {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  margin: 10px 0;
}

.grid-btn button:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn-gapyear {
  grid-column-start: 1;
  grid-column-end: 3;
}

.detail-cov h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.detail-cov {
  margin-left: 15px;
  flex-grow: 1;
}

.label-other {
  font-size: 12px;
  margin: 0;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.grid-btn button {
  font-size: 12px;
  background-color: transparent;
  color: black;
  position: relative;
}

.grid-btn button .ic-btn {
  position: absolute;
  top: -20%;
  right: -3px;
  /*color: black;*/
}

@media (min-width: 576px) {
  .gridcover:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media (max-width: 576px) {
  .grid-btn {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.gridcover {
  margin-right: 10px;
}

