.soft-wrapper {
  width: 100%;
  padding-left: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.soft-element {
  flex-grow: 1;
  margin: 0 25px;
  /*background-color: rgb(234,226,225);*/
  padding: 25px;
  margin-bottom: 25px;
}

.soft-welcome {
  font-weight: bold;
}

.soft-welcome i {
  font-size: 24px;
}

.sweet-search button {
  position: absolute;
  top: 0;
  right: 0;
}

.soft-crap {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(184,184,184,0.4);
}

.ads-billboard {
  max-width: 970px;
  min-height: 250px;
  background-color: tomato;
  width: 970px;
}

.ads-square {
  width: 250px;
  height: 250px;
  background-color: tomato;
}

.soft-widget .soft-crap {
  margin-bottom: 25px;
}

#fb-color {
  background-color: blue;
  height: 400px;
}

.sweet-post {
  margin-right: 15px;
}

.sweet-post .content {
  background-color: white;
  flex-grow: 1;
}

.soft-recom {
  padding: 25px 0;
  background-color: rgb(71,100,255);
  margin-bottom: 15px;
}

.disqus {
  height: 350px;
  background-color: rgb(59,220,255);
}

.soft-cover-post {
  width: 180px;
  margin-right: 15px;
}

.soft-content-post {
  flex-grow: 1;
  max-width: 63%;
}

.homepage .soft-post {
  margin-bottom: 60px !important;
}

.soft-cover-post .img {
  width: 100%;
  height: 200px;
  position: relative;
}

.soft-cover-post .img .wrap-img {
  position: absolute;
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.wrap-img img {
  width: 100%;
}

#soft-footer {
  margin-bottom: 0;
}

.post .soft-category {
  margin-bottom: 35px;
}

.post p {
  font-size: 16px;
}

.soft-title {
  margin: 25px 0;
}

.soft-title::before {
  content: '\f292';
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  color: rgb(128,128,128);
}

.soft-comp {
  /*display: inline;*/
}

.soft-comp button {
  margin-right: 10px;
  padding: 5px !important;
}

.soft-comp select {
  padding: 5px;
}

.soft-btn-def i, .soft-comp button i {
  display: block;
}

.content .soft-post {
  margin-bottom: 15px;
}

.table button {
  padding: 5px 10px;
}

.post .table tbody tr td {
  border: none;
}

.post {
  max-width: 95%;
}

.post .table tbody tr td:nth-child(2) {
  width: 90%;
}

.post .table {
  margin-bottom: 45px;
}

