.home-heading {
  font-weight: bold;
}
.play{
  box-shadow: 0 0 0 0.2rem rgba(38,143,255, 0.5);
  color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.soft-category {
  flex-wrap: wrap;
  flex-flow: wrap;
  margin-top: 15px;
}

.soft-category a {
  margin-right: 10px;
  position: relative;
  margin-bottom: 15px;
  color: rgb(89,89,89);
  font-size: 14px;
  background-color: rgba(225,225,225,0.63);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.soft-category a span {
  z-index: 1;
  position: relative;
  margin: 10px 10px;
}

.soft-p-home {
  font-size: 14px;
  color: #4f4f4f;
}

.soft-btn-read {
  border: none;
  background-color: rgb(221,221,221);
  font-size: 14px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.soft-btn-read:focus {
  box-shadow: 0 0 0 0.2rem rgba(38,38,38,0.5);
}

.soft-btn-read:not(:disabled):not(.disabled):active {
  background: rgb(244,244,244);
  color: black;
  box-shadow: 0 0 0 0.2rem rgba(38,38,38,0.5) !important;
}

.soft-pagenavigation span {
  font-size: 16px;
}

.soft-pagenavigation a:before {
  background-color: rgb(242,242,242) !Important;
  max-width: 30px !important;
}

.soft-arrow, .soft-arrow:before {
  background-color: transparent !important;
}

.soft-pagenavigation .soft-arrow:before {
  background-color: transparent !important;
}

.soft-pagenavigation #disabled {
  color: rgb(220,220,220);
}

a:hover {
  text-decoration: none;
}

.soft-menu-foot {
  margin-right: 10px;
}

.soft-menu-foot a {
  color: black;
}

.soft-center-wrap {
  flex-flow: wrap;
  flex-wrap: wrap;
}

.soft-icon-footer {
  color: rgb(116,116,116);
  font-size: 24px;
  margin-right: 15px;
}

.soft-icon-footer:hover {
  color: black;
}

.soft-icon-footer:last-child {
  margin-right: 0;
}

.soft-pesan {
  background-color: rgb(251,188,114);
  padding: 15px 10px;
}

.soft-pesan p:last-child {
  margin-bottom: 0;
}

.soft-pagenavigation .so-table-content:before {
  max-width: 100% !important;
}

.soft-pagenavigation .so-table-content {
  color: rgb(52,52,52);
}

.soft-pagenavigation .so-table-content button {
  position: relative;
}

.cover-float-soft {
  max-width: 150px;
  float: left;
  display: inline;
}

.clear-float-soft {
  width: 100%;
  max-width: 200px;
  float: left;
  box-shadow: 0px 0px 15px 0px rgba(184,184,184,0.4);
  margin-right: 30px;
  margin-bottom: 20px;
}

.soft-under {
  position: relative;
  padding-bottom: 5px;
}

.soft-under:after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 50vw;
  background-color: rgb(130,87,251);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.soft-under span {
  position: relative;
  z-index: 1;
}

.soft-btn-read:hover {
  background-color: rgb(221,221,221);
  color: black;
}

.keyword {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.keyword p {
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(225,225,225,0.63);
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px 10px 0;
}

